.item {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #eee;
    box-shadow: -7px 8px 16px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.imgcontainer {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: #eee;
    position: relative;
}

.imgcontainer img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;

}

.achievements {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.typography {
    font-size: 16px;
    margin: 5px;
}

.name {
    position: absolute;
    font-size: 30px;
    bottom: 0px;
    width: fit-content;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.507);
    padding: 50px 60px;
    clip-path: polygon(51% 0, 100% 54%, 54% 100%, 49% 100%, 0 50%);
}

.infocontainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}